<html>

<head>
    <title>Home page</title>
   
</head>

<body>
   
  
    <div class="card" style="width: 18rem;" id="myCard">
          {{#each card}}
          <div>{{this}}
        <img  src="{{img}}" class="card-img-top" alt="..." >
        <div class="card-body">
            <h5 class="card-title" >{{title}}</h5>
            <p class="card-text" >{{description}}</p>
</div>
        </div>
     {{/each}}
        </div>
    
 

    
    
</body>

</html>